<%- include('../partials/header') %>

<h1>Chapter <%= chapterNum %></h1> <!-- need to change .txt files names -->
<pre><%= content %></pre> <!-- <pre> preserving line breaks -->

<a href="/">Back to Chapters</a>

<%- include('../partials/footer') %>